<%- include('../partials/header'); -%>

<div class="container">
<div class="jumbotron">
    <h1 class="display-5">YelpBook</h1>
    <p class="lead">Your one stop bookshop</p>
</div>
</div>


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


<%- include('../partials/footer'); -%>

