<%- include('../partials/header'); -%>

<div class="container form-title" style="width: 350px;">
    <h1>Add a new book</h1>
</div>

<div class="container card bg-light" style="width: 40rem;">
    <form action="/books" method="POST">
        <div class="form-group">
            <label>Book Title</label>
            <input type="text" name="title" class="form-control" placeholder="Enter book title">
        </div>
        <div class="form-group">
            <label>Author First Name</label>
            <input type="text" name="author_fname" class="form-control" placeholder="Enter author first name">
        </div>
        <div class="form-group">
            <label>Author Last Name</label>
            <input type="text" name="author_lname" class="form-control" placeholder="Enter author last name">
        </div>
        <div class="form-group">
            <label>Book Category</label>
            <input type="text" name="category" class="form-control" placeholder="Ex. Fiction, Fantasy, Business">
        </div>
        <div class="form-group">
            <label>Release Year</label>
            <input type="number" name="release_year" class="form-control" placeholder="Enter number">
        </div>
        <div class="form-group">
            <label>Number of Pages</label>
            <input type="number" name="pages" class="form-control" placeholder="Enter number">
        </div>
        <div class="form-group">
            <label>Book Price</label>
            <input type="number" name="price" class="form-control" placeholder="Enter number">
        </div>
        <div class="form-group">
            <label>Book Image</label>
            <input type="text" name="picture" class="form-control" placeholder="Please add image url">
        </div>    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('../partials/footer'); -%>