<%- include('../partials/header'); -%>

<% if(error && error.length > 0) { %>
<div class="alert alert-warning" role="alert">
    <%= error %>
</div>
<% } %>

<div class="container form-title">
    <h1>Login</h1>
</div>

<div class="container card bg-light" style="width: 40rem;">
<form action="/login" method="POST"> 
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    <p><a href="/register">Don't have an account? Register now!</a></p>
</form>
</div>

<%- include('../partials/footer'); -%>