<%- include('partials/header'); -%>

<div class="container">
<div class="jumbotron">
    <h1 class="display-5">YelpBook</h1>
    <p class="lead">Your one stop bookshop</p>
</div>
</div>

<%- include('partials/footer'); -%>