<%- include('partials/header'); -%>

<div class="container">
<div class="jumbotron">
    <h1 class="display-5">YelpBook</h1>
    <p class="lead">A place where avid readers can post and review books</p>
    <hr class="my-4">
    <p>Didn't find your book? Add it for review!</p>
    <p class="lead">
        <a class="btn btn-primary btn-md" href="#" role="button">Add a Book</a>
    </p>
</div>
</div>

<%- include('partials/footer'); -%>