<!Doctype <!DOCTYPE html>
<html>
<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link href="bookSite.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tbody>
        <tr>
            <td><img src="sadbook.jpg" alt="sad book" width="500"></td>
            <td>
                <h2>Oops! We can't find what you're looking for</h2>
            </td>
            <td>
        <tr>
            <td></td>
            <td><a id="oops" href="/">Return to home page</a></td>
        </tr>
        </td>
        </tr>
    </tbody>
</table>
  
</body>
</html>



