body {
	background-image: url("https://images.unsplash.com/photo-1520467795206-62e33627e6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

h1,
h4 {
	color: white;
}

div {
	text-align: center;
	padding-top: 15em;
}
